/*phone*/
@media screen and (max-width: 480px) {
    .container {
        width: 280px;
    }
    .meme-img {
        width: 200px;
    }
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width: 992px) {
    .container {
        width: 450px;
    }

    .meme-img {
        width: 390px;
    }
}

.container {
    max-width: 950px;
    margin: auto;
    cursor: pointer;
}

.meme-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  opacity: 0;
  height: auto;
  transition: width .5s, opacity .7s;
}

.radio-button {
    display: none;
}

.radio-button:checked + label .meme-state-icon {
    transform: rotate(0);
    transition: transform .5s;
}

.radio-button:checked + label .meme-img {
    width: 100%;
    opacity: 1;
    transition: width .5s, opacity .3s;
}

.meme-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.meme-state-icon {
    display: inline;
    position: inherit;
    top: 10px;
    right: 10px;
}

.h2 {
    border-top-width: 5px;
    border-top-color: gray;
}

.meme {
    border-top: 2px solid gray;
    margin-top: 5px;
}

.meme-state-icon {
    display: inline;
    position: inherit;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    transition: transform .5s;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/cross.png");
}

@media (hover:hover) {
    .meme-state-icon {
        display: none;
    }
    
    .radio-button:hover + label .meme-state-icon {
        transform: rotate(0);
        transition: transform .5s;
    }

    .radio-button:hover + label .meme-img {
        width: 100%;
        opacity: 1;
        transition: width .5s, opacity .3s;
    }

    .accordion:hover .meme-state-icon {
        display: block;
    }
}